@import "../css/normalize.css";
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  color: #383651;
  font-size: 1.6rem;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #BF0033;
}
.button {
  background-color: #BF0033;
  color: #fff;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  font-weight: 700;
}
.button:hover {
  background-color: #880C23;
}
.card-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-list .card {
  background-color: #fff;
  width: 30%;
  text-align: center;
  box-shadow: 0px 1px 4px 0px rgba(216, 216, 216, 0.75);
}
.card-list .card .card-img {
  max-width: 100%;
}
.card-list .card .card-body {
  padding: 6%;
}
.card-list .card a {
  font-weight: 700;
}
header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 40px;
  border-bottom: 1px solid #e6e6e6;
}
header img {
  height: 35px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
header nav a {
  margin-left: 4rem;
  text-decoration: none;
  color: #383651;
  font-weight: 700;
}
.main-hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #383651;
  color: #fff;
}
.main-hero .cta {
  text-align: center;
  width: 30%;
}
.main-hero .cta .button {
  margin-top: 5rem;
}
.process {
  background-color: #F6F7FB;
  padding: 5% 0;
  padding-left: 10%;
  padding-right: 10%;
}
.process h2 {
  text-align: center;
}
